includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#Call to an undefined static method .*setHasher\(\)#'
        - '#Call to an undefined static method .*getRoles\(\)#'
        - '#Call to an undefined static method .*findRoleBySlug\(\)#'
        - '#Call to an undefined static method .*findByCredentials\(\)#'
        - '#Call to an undefined static method .*findById\(\)#'
        - '#Cannot call method save\(\)#'

    excludePaths:

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkModelProperties: false
    checkOctaneCompatibility: true
